
<div class=''>
  <h1 class='pull-left'><span style='color: #FFFF00'>Items In Cart:</span>  {{shoppingCart.length}} </h1>
  <h1 class='pull-right'><span style='color: #00F826'>Total:</span>  {{cartTotal | currency}}</h1>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Ski</th>
      <th>Product Info</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class='animated flipInX' ng-repeat='item in shoppingCart | orderBy: sortPrice | filter: query | filter: sortCats | filter: sortSize'>
      <td><img  class='thumbnail' height='592' width='450' ng-src='{{item.imageUrl}}'></td>
      <td>
        <div class="panel panel-primary pull-right">
          <div class="panel-heading">
            <h3>{{item.name}}</h3>
              <div ng-show='showingForm'>
              <label>Quantity</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
              <button ng-click='toggleForm()' class='btn btn-warning btn-md'>Edit</button>
              <button ng-click='removeItem()' class='btn btn-danger btn-md'>Remove</button>

          </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Price</td>
                  <td ng-model='price'>{{item.price | currency}}</td>
                </tr>
                <tr>
                  <td>Length</td>
                  <td>{{item.length}}</td>
                </tr>
                <tr>
                  <td>Dimensions</td>
                  <td>{{item.dimensions}}</td>
                </tr>
                <tr>
                  <td>Turn Radius</td>
                  <td>{{item.turnRadius}}</td>
                </tr>
                <tr>
                  <td>Profile</td>
                  <td>{{item.profile}}</td>
                </tr>
                <tr>
                  <td>Construction</td>
                  <td>{{item.construction}}</td>
                </tr>
                <tr>
                  <td>Core</td>
                  <td>{{item.core}}</td>
                </tr>
                <tr>
                  <td>Use</td>
                  <td>{{item.use}}</td>
                </tr>
                <tr>
                  <td>Warranty</td>
                  <td>{{item.warranty}}</td>
                </tr>
                <tr>
                  <td>In Stock</td>
                  <td>{{item.inStock}}</td>
                </tr>
                <tr>
                  <td>Stars</td>
                  <td>{{item.rating}}</td>
                </tr>
                <tr>
                  <td>Categories</td>
                  <td>
                  <p ng-repeat='cat in item.categories'><span ng-model='category'>{{cat}}</span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      <td></td>
      </tr>
    </tbody>
  </table>
