<label>Search by category</label>
  <select ng-model='sortCats'>
    <option value=''>ALL</option>
    <option value='powder'>powder</option>
    <option value='freeride'>freeride</option>
    <option value='race'>race</option>
    <option value='moment'>moment</option>
    <option value='rossignol'>rossignol</option>
    <option value='touring'>touring</option>
    <option value='armada'>armada</option>
    <option value='line'>line</option>
    <option value='salomon'>salomon</option>
    <option value='blizzard'>blizzard</option>
    <option value='4FRNT'>4FRNT</option>
  </select>
<label>Sort by price</label>
  <select ng-model='sortPrice'>
    <option value='price'>Low to High</option>
    <option value='-price'>High to Low</option>
  </select>
<label>Sort by size</label>
  <select ng-model='sortSize'>
    <option value=''>ALL</option>
    <option value='179'>179</option>
    <option value='180'>180</option>
    <option value='182'>182</option>
    <option value='185'>185</option>
    <option value='186'>186</option>
    <option value='187'>187</option>
    <option value='190'>190</option>
  </select>


<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Ski</th>
      <th>Product Info</th>
    </tr>
  </thead>
  <tbody>
    <tr class='animated flipInY' ng-repeat='item in items | orderBy: sortPrice | filter: query | filter: sortCats | filter: sortSize'>
      <td><img  class='thumbnail' height='592' width='450' ng-src='{{item.imageUrl}}'></td>
      <td>
        <div class="panel panel-primary pull-right">
          <div class="panel-heading">
            <h3>{{item.name}}</h3>
              <label>Quantity</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <button ng-click='addToCart()' class='btn btn-default btn-md'>Add to Quiver</button>
          </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Price</td>
                  <td ng-model='price'>{{item.price | currency}}</td>
                </tr>
                <tr>
                  <td>Length</td>
                  <td>{{item.length}}</td>
                </tr>
                <tr>
                  <td>Dimensions</td>
                  <td>{{item.dimensions}}</td>
                </tr>
                <tr>
                  <td>Turn Radius</td>
                  <td>{{item.turnRadius}}</td>
                </tr>
                <tr>
                  <td>Profile</td>
                  <td>{{item.profile}}</td>
                </tr>
                <tr>
                  <td>Construction</td>
                  <td>{{item.construction}}</td>
                </tr>
                <tr>
                  <td>Core</td>
                  <td>{{item.core}}</td>
                </tr>
                <tr>
                  <td>Use</td>
                  <td>{{item.use}}</td>
                </tr>
                <tr>
                  <td>Warranty</td>
                  <td>{{item.warranty}}</td>
                </tr>
                <tr>
                  <td>In Stock</td>
                  <td>
                    <span ng-show="{{item.inStock}}"><span class='glyphicon glyphicon-leaf'></span></span>
                    <span ng-show="{{!item.inStock}}"><span class='glyphicon glyphicon-fire'></span></span>
                  </td>
                </tr>
                <tr>
                  <td>Stars</td>
                  <td>{{item.rating}}</td>
                </tr>
                <tr>
                  <td>Categories</td>
                  <td>
                  <p ng-repeat='cat in item.categories'><span ng-model='category'>{{cat}}</span></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
